header {
	margin:0;	
	padding: 50px 0;
	height: 60px;
	background-image: url(../image/15275172805b0c106050c332.67160152.jpg);
	background-size: cover;
	
}
.container {
 	margin: 0 auto;
 	width: 960px;
 }

 .shapka {
 	color: #3d0e05;
 	text-align: center;
 }

.one {
	color: #0f4a5c;
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: 250;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	padding-top: 100px;
	margin-left: 100px;
}

figure {
	float: right;
	text-align: center;
	font-style: italic;
	
}
.img {
	float: left;
	margin: 7px 7px 7px 0;
	margin-right: 50px;
}

body {
 	background: linear-gradient(#131c5e, #6879f7);#131c5e;
 	margin: 100px;
 }
main {
    background-color: #daf2f7;
    margin: 0 10% -6% 10%;
    padding: 2% 0% 2% 0%;
 }

 .start {
 	height: 350px;
 	width: auto;
 }

.proo {
	text-align: center;
	padding: 5%;
}

 .start2{
 	height: 495px;
 	width: auto;
 	overflow: auto;
 }

 .prod1 {
 	color: #0f4a5c;
 	font-family: 'Snell Roundhand', cursive;
 	font-size: 29px;
 	margin-right: 20px;
 	margin-left: 20px;
 	margin-top: 60px;
 }

 .photo1 {
 	margin-left: 5%;
 	margin-right: 5%;
 	display: flex;
 	justify-content: center;
 	justify-content: space-around;
 	height: 110px;
 	margin-bottom:650px;
 }

 .div{
 	height: 650px;
 	width: 500px;
 	color: #0f4a5c;
 	font-size: 20px;
 	border: 1px solid #57caf7;
 	padding-right: 5px;
 	padding-left: 5px;
 	padding-bottom: 20px;
 }
.photo {
	max-height: 485px;
	width: 100%;
 }
.one {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
.prod {
	height: 200px;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 23px;
	background: url(../image/blue-background-with-blooming-white-1785631.jpeg);
	background-size: cover;
}
.about {
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

footer {
  height: 120px;
  width: 100%;
  text-align: center;
  background: #041ac4;

}
.end{
	padding-top: 50px;
	color: black;
}
.mal{
	margin-left: 5px;
}
.mall {
	font-size: 23px;
	margin: 20px;
	margin-bottom: 40px;
	text-align: center;
}

.list{
	margin-left: 8%;
	margin-bottom: 50px;
	font-size: 20px;
	color:#1d1f59;
	font-family: Andale Mono, monospace;
}
.list12{
	margin-left: 8%;
	font-size: 100%;
	color:#1d1f59;
	font-family: Andale Mono, monospace;
}
.list_title{
	color: #141645;
	font-family: Andale Mono, monospace;
}

.img1{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2{
	float: right;
	margin: 10px 10px 10px 10px;
}

.body2{
	margin-left: 5%;
	margin-right: 5%;
}

.two{
	color: #211d04;
	font-family: Verdana, sans-serif;
	font-weight: 250;
	font-size: 15px;
	line-height: 25px;
	text-align: left;
	padding-top: 25px;
	margin-left: 100px;
}

.link2{
	padding-top: 80px;
	text-align: center;
}
.link12{
	font-size: 110%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
}

