table{
	table-layout: fixed;
	width: 90%;
	border-collapse: collapse;
	border: 3px solid purple;
	margin: 5%;
}

th, td {
	border: 2px solid green;
	padding: 4%;
}

.link12{
	font-size: 110%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
}
body{
	background-color: #f2cbed;
}
